# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Virtual Environment
venv/
env/
ENV/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Browser data
browser_data/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vesteda_crawler.log

# Dependency directories
node_modules/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
*.tfvars

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.dbcredentials/
credentials/*.json
.env.prod
credentials/
credentials/*.json
recipients.txt

build-run-only-test.sh
build-and-push-google.sh
create-new-job-google.sh
ter test/run-notification-test-local.sh
ter test/run-notification-test.sh
ter test/build-push-test-job-google.sh
full-deployment.sh

prompts/
implementation_plans/