aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1733829030387/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1745255771909/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
aiosqlite @ file:///home/conda/feedstock_root/build_artifacts/aiosqlite_1734081128935/work
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1747896725691/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1742243108/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
asyncpg @ file:///Users/runner/miniforge3/conda-bld/asyncpg_1729845951319/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1744783198182/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1742502760723/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1746569525376/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560622100/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1741797914774/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorlog @ file:///home/conda/feedstock_root/build_artifacts/colorlog_1733258404285/work
Crawl4AI==0.6.3
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1729286709117/work
cssselect @ file:///home/conda/feedstock_root/build_artifacts/cssselect_1747322906730/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
fake-http-header @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fake-http-header_1740734666/work
fake-useragent @ file:///Users/runner/miniforge3/conda-bld/fake-useragent_1744653958069/work
faust-cchardet @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_faust-cchardet_1739807261/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1741969488311/work
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1746635428890/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1747831371740/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1746824083582/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1745526374115/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1747670838042/work
humanize @ file:///home/conda/feedstock_root/build_artifacts/humanize_1746102275686/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1733223141826/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jiter @ file:///Users/runner/miniforge3/conda-bld/jiter_1747609828059/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpuvkyqc9y/src
litellm @ file:///home/conda/feedstock_root/build_artifacts/litellm_1747994607358/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1745413956258/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1744317760971/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219663979/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1747722422389/work
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1745776566517/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1734309924703/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1732314388626/work/dist/numpy-2.0.2-cp39-cp39-macosx_11_0_arm64.whl#sha256=f5ae29dd6f735c6dcad61765cffcfb32661c04e515c759b21399c7a3a39430a4
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1747970818313/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1733233363808/work
pillow==10.4.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
playwright==1.52.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1747339660894/work
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1744525055131/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1740663174295/work
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2-split_1747320149848/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1746631911634/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/pydantic-settings_1745015171337/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pydantic-core_1746625323/work
pyee @ file:///home/conda/feedstock_root/build_artifacts/pyee_1742282848884/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1736890620538/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1736926988790/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1747560772891/work
pyperclip @ file:///Users/runner/miniforge3/conda-bld/pyperclip_1733932756747/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1740946542080/work
pytest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytest-asyncio_1742911666/work/dist
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1742948348/work
python-telegram-bot @ file:///home/conda/feedstock_root/build_artifacts/python-telegram-bot_1747409019224/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454732336/work
rank_bm25 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rank-bm25_1740732639/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1730952212651/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1743371105/work/dist
rpds-py @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_rpds-py_1747837782/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
snowballstemmer==2.2.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1746563585861/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1747298885535/work
tf-playwright-stealth==1.1.2
tiktoken @ file:///Users/runner/miniforge3/conda-bld/tiktoken_1739550473921/work
tokenizers @ file:///Users/runner/miniforge3/conda-bld/tokenizers_1741890415958/work/bindings/python
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1747870647094/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1744323578849/work
xxhash==3.5.0
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1744972519625/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
